*{
    box-sizing: border-box;
    font-family: 'DM Mono', monospace, '微軟正黑體';
}
a{
    text-decoration: none;
    color: #000;
}
h3{
    font-size: 1.5rem;
    margin: 0.5rem;
}
.nav{
    background-color: rgba(206, 226, 255, 0.7);
    
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    font-family: 'Playfair Display', serif;
    font-size: 1.2rem;
}
.nav-logo>a{
    text-decoration: none;
    color: #000;
    transition: 1s;
}
.nav-logo> a:hover{
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0.3rem;
    
}
.nav-link>a{
    margin: 0 10px;
    color: #000;
    text-decoration: none;
    transition: 1s;
}
.nav-link> a:hover{
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0.3rem;
    border-radius: 10%;
}
/* main */
.container{
    background: linear-gradient(to right,rgba(52, 106, 187, 0.7) 50%, white 0%); 
    width: 100%;
    display: flex;
    padding: 3rem 15%;
    justify-content: center;
}
.sec-pic{
    width: 50%;
    min-width: 300px;
    max-width: 1200px;
    height: 100%;
    padding: 1rem 0;
    
    text-align: center;
}
.pic-text{
    padding: 1rem;
    line-height: 1.2rem;
}
.pic-text a:hover{
    background-color: rgba(255, 237, 176, 0.5);
    transition: 0.5s;
    margin: 0.5rem;
}
.sec-text{
    width: 50%;
    height: 100%;
    padding: 0 3rem;
    
    text-align: center;
    
}
.sec-text > h3{
    margin: 1rem 0;
}

.content{    
    text-align: left;     
}
.content h4{
    font-size: 1.2rem;
    margin:0.5rem 0;   
}

.content>div{
    margin: 0 2rem 1rem ;
    
}
.content>div:nth-child(even){
    text-align: right;
    
}
.content-paragraph{
    text-align: inherit;
    line-height: 1.5rem;
    padding-bottom: 3rem;
  
}
.content-paragraph a:hover{
    background-color: rgba(255, 255, 255, 0.5);
    transition: 0.5s;
    padding: 0.3rem;

}
/* 手機視窗 width<900px*/
@media screen and (max-width:900px){
   
    .container{
        display: block;
        background: linear-gradient(to right,rgba(52, 106, 187, 0.7) 50%, white 0%); 
        padding: 2rem;
        
    }
    .sec-pic{
        width: 100%;
    }
    .sec-text{
        width: 100%;
        margin: 0;
    }

}