*{
    box-sizing: border-box;
    font-family: 'Old Standard TT', '微軟正黑體';
}
a{
    text-decoration: none;
    color: #000;
}
h3{
    font-size: 1.5rem;
    margin: 0.5rem;
}
.nav{
    background-color: #f0f0f0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    font-family: 'Playfair Display', serif;
    font-size: 1.2rem;
}
.nav-logo>a{
    text-decoration: none;
    color: #000;
    transition: 1s;
}
.nav-logo> a:hover{
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0.3rem;
    
}
.nav-link>a{
    margin: 0 10px;
    color: #000;
    text-decoration: none;
    transition: 1s;
}
.nav-link> a:hover{
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0.3rem;
    border-radius: 10%;
}
/* main */
.container{
    background-color: #445287;
    width: 100%;
    display: flex;
    padding: 3rem;
    
}
.sec-pic{
    width: 25%;
    padding: 1rem;
    background-color: rgb(253, 183, 183);
    margin: 0 auto;
    
}
.pic-text{
    padding: 0.5rem;
}
.pic-text a:hover{
    background-color: rgba(255, 237, 176, 0.5);
    transition: 1s;
}
.sec-text{
    width: 50%;
    width: 100%;
    margin: 0 3rem;
    background-color: #fff;
    padding: 1rem;
    text-align: center;
}
.content{
    padding: 1rem;
    display: flex;
    
}
.content>div{
    margin: 0 auto;
}