

*{
    box-sizing: border-box;
    font-family: 'Old Standard TT', '微軟正黑體';
}

.nav{
    background-color: #f0f0f0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    font-family: 'Playfair Display', serif;
    font-size: 1.2rem;
}

.nav-link>a{
    margin: 0 10px;
    color: #000;
    text-decoration: none;
}
.sec1{
    display: flex;
    justify-content: center;
}
.gotop{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 100px;
    right: 50px;
    border-radius: 50%;
    background-color: #444;
    z-index: 1;
   
}
.gotop > a{
    color: #fff;
    text-decoration: none;
    
}
.grid{
    display: grid;
    
    grid-template-rows: repeat(5,400px);
    grid-template-columns: repeat(5,200px);
    background-color: #fff;

}
.position-relative{
    position: relative;
}

.grid-pic1{
    grid-area: 1/1/2/3;
    background-color: #888;
    background-image: url(./pic01/01.jpg);
    background-size: cover;
    background-position: 40% 0;
}
.grid-pic2{
    grid-area: 1/3/2/4;
    background-color: #777;
    background-image: url(./pic01/02.jpg);
    background-size: cover;   
    background-position: center 0;  
}
.grid-pic3{
    grid-area: 1/4/2/5;
    background-color: #888;
    background-image: url(./pic01/03.jpg);
    background-size: cover; 
    background-position: center 0;
}
.grid-pic4{
    grid-area: 1/5/2/6;
    background-color: #777;
    background-image: url(./pic01/04.jpg);
    background-size: cover; 
    background-position: center 0;
}
.grid-pic5{
    grid-area: 2/1/3/3;
    background-color: #888;
    background-image: url(./pic01/05.jpg);
    background-size: cover; 
}
.grid-pic6{
    grid-area: 2/3/3/5;
    background-color: #777;
    background-image: url(./pic01/06.jpg);
    background-size: cover; 
    background-position: 0 55%;
}
.grid-pic7{
    grid-area: 2/5/3/6;
    background-color: #888;
    background-image: url(./pic01/07.jpg);
    background-size: cover; 
    background-position: 50% 0;
}
.grid-pic8{
    grid-area: 3/1/4/3;
    background-color: #888;
    background-image: url(./pic01/08.jpg);
    background-size: cover; 
    background-position: 90% 0;
}
.grid-pic9{
    grid-area: 3/3/4/5;
    background-color: #777;
    background-image: url(./pic01/09.jpg);
    background-size: cover; 
    background-position: 100% 0;
}
.grid-pic10{
    grid-area: 3/5/4/6;
    background-color: #888;
    background-image: url(./pic01/10.jpg);
    background-size: cover; 
    background-position: center 0;
}
.grid-pic11{
    grid-area: 4/1/5/3;
    background-color: #888;
    background-image: url(./pic01/11.jpg);
    background-size: cover; 
    background-position: 100% 0;
}
.grid-pic12{
    grid-area: 4/3/5/5;
    background-color: #777;
    background-image: url(./pic01/12.jpg);
    background-size: cover; 
    background-position: 20% 0;
}
.grid-pic13{
    grid-area: 4/5/5/6;
    background-color: #888;
    background-image: url(./pic01/13.jpg);
    background-size: cover; 
    background-position: 30% 0;
}
.grid-pic14{
    grid-area: 5/1/6/3;
    background-color: #888;
    background-image: url(./pic01/14.jpg);
    background-size: cover; 
    background-position: center 0;

}
.grid-pic15{
    grid-area: 5/3/6/5;
    background-color: #777;
    background-image: url(./pic01/15.jpg);
    background-size: cover; 
    background-position: 0 77%;
}
.grid-pic16{
    height: 50%;
    grid-area: 5/5/6/6;
    top: 0;
    
   
}


.grid-text-position{
    height: 50px;
    width: 200px;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: 1.5s;
    transition-timing-function: ease;
}
.grid-text-position:hover{
    
    width: 100%;
    height: 50%;
}
.grid-text-position>h3{
    padding: 0.5rem;
    font-size: 1.4rem;
    text-align: center;
    letter-spacing: 0.1rem;
    font-family: 'Playfair Display', serif;
}
.grid-text-position>p{
    display: none;    
}
.grid-text-position:hover >p{
    display: block;
    font-size: 1.2rem;
    text-align: center;
    padding: 1rem;
    line-height: 1.5rem;
   
}
.grid-text16>a{
    text-decoration: none;
    color: #000;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    padding: 45% 0 45% ;
    font-family:'Playfair Display', serif
}
.grid-text1{
    background-color: rgba(253,148,140,0.7);
}
.grid-text2{
    background-color: rgba(187,220,253,0.7);
}
.grid-text3{
    background-color: rgba(234,231,238,0.7);
}
.grid-text4{
    background-color: rgba(203,161,129,0.7);
}
.grid-text5{
    background-color: rgba(245,245,233,0.7);
}
.grid-text6{
    background-color: rgba(47,106,182,0.7);
}
.grid-text7{
    background-color: rgba(157,125,105,0.7);
}
.grid-text8{
    background-color: rgba(180,89,104,0.7);
}
.grid-text9{
    background-color: rgba(93,54,37,0.7);
}
.grid-text10{
    background-color: rgba(226,182,60,0.7);
}
.grid-text11{
    background-color: rgba(248,216,193,0.7);
}
.grid-text12{
    background-color: rgba(210,219,228,0.7);
}
.grid-text13{
    background-color: rgba(153,195,57,0.7);
}
.grid-text14{
    background-color: rgba(180,120,150,0.7);
}
.grid-text15{
    background-color: rgba(222,169,163,0.7);
}
